@charset "UTF-8";
@import url("css/base.css");
@import url("css/label.css");
@import url("css/confirm.css");
@import url("css/confirm.flat.css");
@import url("css/confirm.overlay.css");
@import url("css/loading.css");
@import url("css/stripe.css");
@import url("css/error.css");
@import url("css/warning.css");
@import url("css/price.css");
@import url("css/input.css");
@import url("css/phase.css");
@import url("css/cart.css");
@import url("css/button.css");

body {
	overflow-x: hidden;
}
div#mfp_hidden {
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: 0px;
}
div#mfp_hidden input {
	margin: 10px;
}
div.mfp_thanks {
	padding: 30px;
}
div.mfp_thanks p {
	line-height: 1.7em;
}
div.mfp_thanks ul.mfp_caution {
	margin: 0px;
	padding: 0px;
}
div.mfp_thanks ul.mfp_caution li {
	display: block;
	color: #C00;
	margin: 0px;
	padding: 5px 0px;
}
div#mfp_thanks {
	text-align: center;
	font-size: 18px;
	padding: 20px 0px;
}
div#mfp_thanks strong {
	color: #C00;
	font-size: 24px;
}